---
layout: index
title: 我的Blog
id: index
noComment: true
---

<div class="medium-9 columns" role="main">
        {% for post in paginator.posts %}
        <article class="article">
            <header class="title">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </header>
            <div>
                {{ post.content }}
            </div>
            <footer>
                [{{ post.date | date:"%Y-%m-%d" }}]
            </footer>
        </article>
        <hr/>
        {% endfor %}
        <!-- Pagation module -->
        {% include plugin/pagination.html %}
    </div>

    <aside class="medium-3 columns sidebar">
        {% include plugin/category.html %}
        {% include plugin/tags.html %}
        {% include plugin/projects.html %}
    </aside>
