---
layout: default
title: 我的Blog
---

<div class="main bg-color-blueLight" role="main">
  {% for post in paginator.posts %}
  <div class="article">
    <div class="title">
      [{{ post.date | date:"%Y-%m-%d" }}] <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </div>
  </div>
  {% endfor %}
  <!-- Pagation module -->
  {% include plugin/pagination.html %}
</div>

<aside>
  {% include plugin/category.html %}
  {% include plugin/tags.html %}
  {% include plugin/projects.html %}
</aside>
<div class="clear"></div>
