<script>
  requirejs.config({
    //By default load any module IDs from js/lib
    baseUrl: '/assets/js',
    //except, if the module ID starts with "app",
    //load it from the js/app directory. paths
    //config is relative to the baseUrl, and
    //never includes a ".js" extension since
    //the paths config could be for a directory.
    paths: {
      app: '../app',
      jquery: '/assets/js/jquery-2.0.2.min',
//      jquery: 'http://libs.useso.com/js/jquery/2.1.1/jquery.min',
      foundation: '/assets/foundation/js/foundation',
      _: '/assets/lib/lodash/dist/lodash.min',
      github: '/assets/lib/github/github',
      octokat: '/assets/lib/octokat/dist/octokat',
      marked: '/assets/lib/marked/lib/marked',
      base64: '/assets/lib/js-base64/base64',
      ace: '/assets/lib/ace/ace'
    },

    shim: {
      'foundation/foundation': ['jquery'],
      'foundation/foundation.magellan': ['foundation/foundation'],
      'github': {
        deps: ['_'],
        exports: 'Github'
      },
      'base64': {
        exports: 'Base64'
      },
      'ace': {
        exports: 'ace'
      }
    }
  });
</script>
