<div class="zurb-footer-bottom">
    <div class="row">
    </div>
</div>


<script>
  // 搜索功能
  require(['search_post']);

  // foundation 默认库
  require(['foundation/foundation'], function(){
    require(['foundation/foundation.topbar', 'foundation/foundation.reveal'], function(){
      $(document).foundation();
    });
  });


  // 添加 redirect_uri 到 Github Oauth Login 接口
  // @see https://developer.github.com/v3/oauth/#web-application-flow
  (function(){
    var query = location.search;
    var accessTokenMatch = query.match(/access_token=(\w+)/);
    var accessToken = accessTokenMatch && accessTokenMatch[1];

    // 如果有 access_token , 则存储到 localStorage 中，便于读取
    if(accessToken){
      localStorage && localStorage.setItem('github_access_token', accessToken);
    }

    var btn = document.getElementById('gh-oauth-login');
    var oHref = btn.getAttribute('href');
    var nHref = oHref + '&redirect_uri=http://labs.hellofe.com/github/oauth_callback?client_url=' +
      location.protocol + '//' + location.host + location.pathname;
    btn.setAttribute('href', nHref);
  }());

</script>


<!--baidu 统计-->
<span style="display: none">
    <script type="text/javascript" src="http://hm.baidu.com/h.js?60f44be22391a4f0d1857eadbe2eecb0"></script>
</span>



</body>
</html>
