<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,
                                 maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/common.css"/>
  <link rel="stylesheet" href="{{ site.url }}/assets/google-code-prettify/prettify.css">
  <script type="text/javascript" src="{{ site.url }}/assets/google-code-prettify/prettify.js"></script>
</head>
<body>
<div id="wrapper">
  <!-- the head and navigation -->
  <header role="banner">
    <div class="large-screen">Life is not about waiting for the storm to pass, 
      it's about learning how to dance in the rain.</div>
    <nav role="navigation">
      <ul>
        <li><a href="{{ site.url }}/index.html">本站主页</a></li>
        <li><a href="{{ site.url }}/util/books.html">读过的书</a></li>
        <li><a href="{{ site.url }}/util/links.html">页面链接</a></li>
        <li><a href="{{ site.url }}/util/about.html">关于</a></li>
      </ul>
    </nav>
  </header>
  <div id="content">