<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="{{ site:url }}/assets/css/common.css"/>
</head>
<body>
<div id="wrapper">
    <!-- the head and navigation -->
    <header>
        <nav>
          <a href="{{ site.url }}/index.html">本站主页</a>
          <a href="{{ site.url }}/link.html">页面链接</a>
        </nav>
    </header>
    <div id="content">
