<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width,minimum-scale=1.0,
                                 maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/assets/foundation/css/foundation.min.css"/>
    <link rel="stylesheet" href="/assets/foundation/icon/foundation-icons.css"/>
    <link rel="stylesheet" href="/assets/theme/foundation/custom.css"/>
    <script src="/assets/lib/requirejs/require.js"></script>
    {% include js/require.config.html %}
</head>
<body>

<div class="sticky">
<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Hello Front End</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>菜单</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li {%if page.id == "index"%}class="active"{%endif%}>
                <a href="/index.html">主页</a>
            </li>
          <li><a href="http://labs.hellofe.com"><span>实验室</span></a></li>

          <li {%if page.id == "books"%}class="active"{%endif%}>
                <a href="/util/books/">读过的书</a>
            </li>
            <li {%if page.id == "links"%}class="active"{%endif%}>
                <a href="/util/links/">实用网址</a>
            </li>
            <li {%if page.id == "about"%}class="active"{%endif%}><a href="/util/about/">留言板</a></li>
            <!--<li class="has-dropdown">-->
                <!--<a href="#">Right Button Dropdown</a>-->
                <!--<ul class="dropdown">-->
                    <!--<li><a href="#">First link in dropdown</a></li>-->
                    <!--<li class="active"><a href="#">Active link in dropdown</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <li class="has-form search-post-sticky">
                <!--<div class="search-post-wrapper sticky">-->
                <div class="search-post-wrapper_">
                    <!--<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">-->
                        <div class="row collapse">
                            <div class="large-8 small-9 columns">
                                <input id="search-post" type="text" placeholder="关键字">
                            </div>
                            <div class="large-4 small-3 columns">
                                <a href="#" class="alert button expand">搜索</a>
                            </div>
                        </div>
                    <!--</nav>-->
                </div>
              <div id="search-result" class="panel callout radius"></div>

              <!--</div>-->
            </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a id="gh-oauth-login" href="https://github.com/login/oauth/authorize?client_id=bfaa94b476a91ae70830&scope=user,public_repo,repo">
            Github 登录</a>
          </li>
        </ul>
    </section>
</nav>
</div>

<!--{% include plugin/edit-article-panel.html %}-->

<!--{%include plugin/post_list.html  %}-->

<!--<div class="row">-->
