article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
#map_canvas img,.google-maps img{max-width:none;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{cursor:pointer;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
@media print{*{text-shadow:none !important;color:#000 !important;background:transparent !important;box-shadow:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}body{margin:0;}
body{font:16px/1.5 tahoma,arial,"微软雅黑",sans-serif;background:url("../images/bg.png");}
code{display:inline-block;background:white;font-size:0.8em;line-height:1.5em;color:#555;border:1px solid #DDD;border-image:initial;border-radius:0.4em;padding:0px 0.3em;margin:-1px 0px;white-space:pre-line;}
#wrapper{margin:auto;width:96%;}
header{padding:5px;height:50px;border:1px solid gray;border-top:0;border-radius:0 0 5px 5px;box-shadow:0 0 5px 5px white;}
nav{margin-top:10px;}
#content{margin-top:20px;}
.main{float:right;width:72.708333%;}
.article{margin:10px;}
.sidebar{border-right-width:2px;border-right-style:solid;border-right-color:#e8e8e8;margin:10px 0 0 10px;float:left;width:22.708333%;}.sidebar h4{margin:0 0 20px;}
.side-content{margin-left:30%;}
#pagination{text-align:center;margin-left:10px;display:inline-block;font-size:14px;border:1px solid #DDD;border:1px solid rgba(0, 0, 0, 0.11);border-radius:2px;background:rgba(255, 255, 255, 0.11);}#pagination a{color:rgba(0, 0, 0, 0.66);float:left;padding:7px 15px;border-right:1px solid #DDD;border-right:1px solid rgba(0, 0, 0, 0.11);background:rgba(255, 255, 255, 0.44);}
#pagination .disabled{color:#999;color:rgba(0, 0, 0, 0.44);}
#pagination .prev-page,#pagination .next-page{width:60px;}
#pagination .next-page{border:none;}
.clear{clear:both;}
.center{text-align:center;margin-top:20px;color:#cccccc;border-top:1px solid #cccccc;}
@media screen and (max-width:500px){.main{width:100%;} .sidebar{width:100%;margin:auto;box-sizing:content-box;} .large-screen{display:none;} #pagination{position:relative;left:50%;margin-left:-90px;}#pagination a{display:none;} #pagination .prev-page,#pagination .next-page{display:inline;}}
