{% include header.html %}
{%include plugin/editor.html %}

<div class="row">
{{ content }}
</div>

<script>
  require(['search_post']);

  require(['foundation/foundation'], function(){
    require(['foundation/foundation.topbar', 'foundation/foundation.reveal'], function(){
      $(document).foundation();
    });
  });


//  require(['octokit'], function(Octokit) {
//    var gh = new Octokit({
//      token: "16541b7301e9f414c4f73e357a6917913fb983e8"
//    });
//
//    var repo = gh.getRepo('wangyuzju', 'blog');
//    var branch = repo.getBranch("gh-pages");
//    branch.contents('index.html')
//      .then(function(contents) {
//        console.log(contents)
//      });
//  });
</script>
{% include footer.html %}
