@wrapWidth: 96%;
@gray: #ccc;
@bgImage: url("../images/bg.png");

body {margin: 0}

body {
  background: @bgImage;
}

#wrapper {
  margin: auto;
  width: @wrapWidth;
}

header {
  padding: 5px;
  height: 50px;
  border: 1px solid gray;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px 5px white;
}

nav {
  margin-top: 10px;
}

#content {

  margin-top: 20px;
}

.main {
  float: right;
  width: 72.708333%;
}

.article {
  margin: 10px;
}

.sidebar {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #e8e8e8;
  margin: 10px 0 0 10px;
  float: left;
  width: 22.708333%;

  h4 {margin: 0 0 20px;}
}
.side-content {
  margin-left: 30%;
}
#pagination {
  text-align: center;
  margin-left: 10px;
  display: inline-block;
  font-size: 14px;
  border: 1px solid #DDD;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.11);



  a {
    color: rgba(0, 0, 0, 0.66);
    float: left;
    padding: 7px 15px;
    border-right: 1px solid #DDD;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    background: rgba(255, 255, 255, 0.44);
  }

  .disabled {
    color: #999;
    color: rgba(0, 0, 0, 0.44);
  }
  .prev-page,.next-page{
    width: 60px;
  }
  .next-page {
    border: none;
  }
}

.clear {
  clear: both;
}

.center {
  text-align: center;
  margin-top: 20px;
  color: @gray;
  border-top: 1px solid @gray;
}

/*Mobile Device*/
@media screen and ( max-width: 500px ){
  .main {width: 100%}
  .sidebar {width: 100%; margin: auto; box-sizing: content-box;}

  #pagination {
    position: relative;
    left: 50%;
    margin-left: -90px;

    a {display: none};
    .prev-page, .next-page {display: inline};
  }
}